.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5B8B1;
  display: flex;
  flex-direction: column;
}
